.navbar-collapse {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
}

/* Style your active page block */
.navbar-nav .nav-link.active {
    background-color: #454c54 !important; /*Block color */
    color: #ffffff !important;            /* Text color */
}

/* Optional: Add a subtle block color when hovering over inactive links */
.navbar-nav .nav-link:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.1);
}

/*Homepage*/
#homepage
{
    color: white;
    width: 100vw;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(#000000, #3e3e3e, #000000);
    
    background-blend-mode: multiply;
}
#hp_divider
{
    min-width: 260px;
    width: 50vw;
    height: 3px;
    background-image: linear-gradient(to right, #00000000, #ffffff 40%, #ffffff 60%, #00000000);
    margin-top: 1px;
    margin-bottom: 10px;
}

.btn.hp_button
{
    --bs-btn-font-weight: 700;
}


#copyright
{
    bottom: 0;
    position: absolute;
    width: 100vw;
    height: 30px;
    background-color: #2B3035;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#copyright_inner
{
    padding-right: 10px;
    color: white;
    font-size: 9px;
}
#current_year
{
    display: inline;
}

#contact_popup
{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    
}
#popup_content
{
    min-width: 200px;
    width: 70vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    position: absolute;
    z-index: 1050;
}
#popup_background
{
    position: absolute;
    background-color: #00000031;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
}
#popup_content_x
{
    width: 30px;
    height: 30px;
    background-color: white;
}